
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=add02eaf75f0513d7b6179a90ccbaf77
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
