
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=34578894c3076b5b32cd20bc60c2bcbd
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
