body {
	width: 100%;
	height: 100%;
}
/* =========== BUTTONS ========= */
.button-blue-gradient {
	background: -webkit-linear-gradient(top, #007FF2, #034EA1);
	background: -o-linear-gradient(top, #007FF2, #034EA1);
	background: -moz-linear-gradient(top, #007FF2, #034EA1);
	background: linear-gradient(top, #007FF2, #034EA1);
	color: #FFFFFF;
}

button {
	border: 0px;
	border-radius: 5px;
}

button.navigation-online-store {
	padding: 15px 10px 10px 10px;
	
}

.banner-button {
  position: absolute;
  top: 82%;
  right: 52px;
  z-index: 1000;
}

header {
	position: fixed;
	height: 150px;
	width: 100%;
	background: #fff;
	z-index: 1;
}

.logo {
	position: absolute;
	top: 45px;
	left: 30px;
}

.navigation {
	position: absolute;
	top: 36px;
	right: 47px;
}

.navigation li {
	display: inline-block;
	font-size: 20px;
	padding: 15px;
}

.navigation li:hover {
	border-bottom: 4px solid #034EA1;
}

.navigation li:last-child {
	border-bottom: 0px;
	padding: 0px 5px 5px 5px;
}

.banners {
	position: relative;
	border-bottom: 2px solid #0f0; /* Remove when banner is ready */
	padding-top: 150px;
	min-height: 100%;
}

.banners-img {
	width: 100%;
}

.banner-headline {
	position: absolute;
	width: 100%;
	top: 26.6vw;
	z-index: 1000;
}

.banner-headline img {
	max-width: 100%;
}

#banner-headline-image-left {
	display: none;
	position: relative;
	top: 8px;
	right: -35px;
}

#banner-headline-image-right {
	display: none;
	position: relative;
	left: -35px;
	bottom: 8px;
}

#banner-headline-text {
	display: none;
	position: relative;
	color: #fff;
	top: -22px;
}

footer {
	position: relative;
	width: 100%;
	height: 100px;
	background: #222;
	color: #FFFFFF;
	bottom: 1px;
}