body {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: 'Merriweather', serif;
}

p {
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
}

h1 {
	font-weight: 400;
	font-size: 3.998em;
	line-height: 1.1;
}

h2 {
	font-weight: 400;
	font-size: 2.827em;
	line-height: 1.2;
}

h3 {
	font-weight: 400;
	font-size: 1.999em;
	line-height: 1.3;
}

h4 {
	font-weight: 400;
	font-size: 1.414em;
	line-height: 1.4;
}

h1,
h2,
h3,
h4 {
	font-family: helvetica, sans-serif;
	color: #ffc;
}


/* =========== BUTTONS ========= */
.button-blue-gradient {
	background: -webkit-linear-gradient(top, #007FF2, #034EA1);
	background: -o-linear-gradient(top, #007FF2, #034EA1);
	background: -moz-linear-gradient(top, #007FF2, #034EA1);
	background: linear-gradient(top, #007FF2, #034EA1);
	color: #FFFFFF;
}

.button-blue-gradient:hover {
	background: #034EA1;
	color: #FFFFFF;
}

.button-grey-gradient {
	background: -webkit-linear-gradient(top, #7C7C7C, #4C4C4C);
	background: -o-linear-gradient(top, #7C7C7C, #4C4C4C);
	background: -moz-linear-gradient(top, #7C7C7C, #4C4C4C);
	background: linear-gradient(top, #7C7C7C, #4C4C4C);
	color: #FFFFFF;
}

.button-grey-gradient:hover {
	background: #4C4C4C;
	color: #FFFFFF;
}

button {
	border: 0px;
	border-radius: 5px;
}

button.navigation-online-store {
	padding: 15px 12px 11px 12px;
}

button.navigation-online-store a {
	text-decoration: none;
	color: #fff;
}

button.navigation-online-store a:visited {
	color: #fff;
}

button.navigation-mobile-menu {
	padding: 15px 20px 11px 20px;
}


.banner-button {
  position: absolute;
  top: 78%;
  right: 30px;
  font-size: 1.6em;
  z-index: 1000;
}

header {
	position: fixed;
	height: 150px;
	width: 100%;
	background: #fff;
	z-index: 1000;
}

.logo {
	position: absolute;
	top: 45px;
	left: 15px;
}

.navigation {
	display: none;
}

.navigation-mobile {
	position: absolute;
	top: 10px;
	right: 15px;
}

.navigation li,
.navigation-mobile li {
	display: inline-block;
	font-size: 1.8em;
	padding: 15px;
}

.navigation-mobile-menu-closed {
	display: none;
	position: inherit;
	width: 100%;
	top: 150px;
	background: #888;
	border-radius: 0 0 5px 5px;
	color: #fff;
	text-align: center;
}

.navigation-mobile-menu-closed ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: -40px;
}

.navigation-mobile-menu-closed li {
	padding: 15px 0 5px 0;
	border-bottom: 1px dotted #555;
	font-size: 1.6em;
}

.navigation-mobile-menu-closed li:hover {
	background: #555;
}

.navigation-mobile-menu-closed li:last-child {
	padding-bottom: 5px;
	border: none;
	border-radius: 0 0 5px 5px;
}

.banners {
	position: relative;
	border-bottom: 2px solid #0f0; /* Remove when banner is ready */
	padding-top: 150px;
	min-height: 100%;
	z-index: 100;
	}
	
.banners-img {
		width: 100%;
}

.banner-headline {
	position: absolute;
	width: 100%;
	top: 26.6vw;
}

.banner-headline h1 {
	font-size: 1.4em;
	font-family: cursive, sans-serif;
}

.banner-headline img {
	max-width: 100%;
}

#banner-headline-image-left {
	display: none;
	position: relative;
	top: 8px;
	right: -35px;
}

#banner-headline-image-right {
	display: none;
	position: relative;
	left: -35px;
	bottom: 1px;
}

#banner-headline-text {
	display: none;
	position: relative;
	color: #fff;
	top: -22px;
}

footer {
	position: relative;
	width: 100%;
	height: 100px;
	background: #222;
	color: #FFFFFF;
	bottom: 1px;
}


@media screen and (min-width: 1180px) {
	
	.navigation-mobile {
		display: none;
	}
	
	.navigation {
		position: absolute;
		display: inherit;
		top: 34px;
		right: 30px;
	}
	
	.navigation li {
		display: inline-block;
		font-size: 20px;
		padding: 15px;
	}
	
	.navigation li:hover {
		border-bottom: 4px solid #034EA1;
	}
	
	.navigation li:last-child {
		border-bottom: 0px;
		padding: 0px 5px 5px 5px;
	}

	.banner-button {
		top: 82%;
		font-size: 1em;
	}

}