html,
body {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-size: 1.125em;
	line-height: 1.6em;
	font-family: 'Merriweather', serif;
}

p {
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
}

h1 {
	font-weight: 400;
	font-size: 3.998em;
	line-height: 1.1;
}

h2 {
	font-weight: 400;
	font-size: 2.827em;
	line-height: 1.2;
}

h3 {
	font-weight: 400;
	font-size: 1.999em;
	line-height: 1.3;
}

h4 {
	font-weight: 400;
	font-size: 1.414em;
	line-height: 1.4;
}

h1,
h2,
h3,
h4 {
	font-family: helvetica, sans-serif;
	color: #3f3f3f;
}


/* =========== BUTTONS ========= */
.button-blue-gradient {
	background: -webkit-linear-gradient(top, #007FF2, #034EA1);
	background: -o-linear-gradient(top, #007FF2, #034EA1);
	background: -moz-linear-gradient(top, #007FF2, #034EA1);
	background: linear-gradient(top, #007FF2, #034EA1);
	color: #FFFFFF;
}

.button-blue-gradient:hover {
	background: #034EA1;
	color: #FFFFFF;
}

.button-grey-gradient {
	background: -webkit-linear-gradient(top, #7C7C7C, #4C4C4C);
	background: -o-linear-gradient(top, #7C7C7C, #4C4C4C);
	background: -moz-linear-gradient(top, #7C7C7C, #4C4C4C);
	background: linear-gradient(top, #7C7C7C, #4C4C4C);
	color: #FFFFFF;
}

.button-grey-gradient:hover {
	background: #4C4C4C;
	color: #FFFFFF;
}

.button {
	border: 0px;
	border-radius: 5px;
}

.navigation-online-store {
	padding: 15px 12px 11px 12px;
	text-decoration: none;
}

.navigation-online-store a:visited {
	color: #fff;
}

.banner-button {
	position: absolute;
	bottom: 4em;
	right: 35px;
	font-size: 1.6em;
	z-index: 1000;
}

.banner-button-button {
	padding: 15px 12px 11px 12px;
	text-decoration: none;
}

.banner-button-button a:visited {
	color: #fff;
}

.banner-button,
header {
	font-family: Helvetica, sans-serif;
}

header {
	position: fixed;
	height: 110px;
	width: 100%;
	background: rgba(0,0,0,0.0);
	z-index: 1000;
}

.logo {
	position: absolute;
	top: 27px;
	left: 15px;
}

.logo-mobile {
	display: none;
}

.navigation ul,
.navigation-mobile ul {
	margin: 0;
}

.navigation li,
.navigation-mobile li {
	display: inline-block;
	font-size: 1.8em;
	padding: 15px;
}

.navigation-mobile-menu-closed {
	display: none;
	position: inherit;
	width: 100%;
	top: 110px;
	background: #888;
	border-radius: 0 0 5px 5px;
	color: #fff;
	text-align: center;
}
	
.navigation-mobile-menu-closed ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: -40px;
}

.navigation-mobile-menu-closed li {
	padding: 24px 0 13px 0;
	border-bottom: 1px dotted #555;
	font-size: 1.6em;
}

.navigation-mobile-menu-closed li:hover {
	background: #555;
}

.banners {
	position: relative;
	padding-top: 0px;
	min-width: 100%;
	z-index: 100;
}
	
.banners-img {
	width: 100%;
}

.banner-headline {
	position: absolute;
	width: 100%;
	top: 30em;
}

.banner-headline h1 {
	font-size: 1.4em;
	font-family: helvetica, sans-serif;
}

.banner-headline img {
	max-width: 100%;
}

#banner-headline-image-left {
	display: none;
	position: relative;
	top: 8px;
	right: -35px;
}

#banner-headline-image-right {
	display: none;
	position: relative;
	left: -35px;
	bottom: 1px;
}

#banner-headline-text {
	display: none;
	position: relative;
	color: #fff;
	top: -22px;
}

.article-columns {
	position: relative;
	top: -5px;
	width: 100%;
	padding-bottom: 60px;
	z-index: -1;
}

.article-columns-img {
	background-image: url("images/banners/female-running.jpg");
/* 	background-position: 50% 50%; */
	background-repeat: no-repeat;
	background-attachment: fixed;
/* 	background-size: cover; */
	position: relative;
/* 	padding-top: 200px; */
}

.article-columns-content {
	position: relative;
	width: 94%;
	top: 1px;
	padding-top: 55px;
	margin-left: auto;
	margin-right: auto;
}

.article-columns-content p {
	font-size: 2em;
}

.newest-articles {
	width:	100%;
	margin: auto;
}

.newest-article>h1 {
	font-size: 8.42vw;
}

.article-columns-content h1 {
	line-height: 1.6em;
	margin-bottom: 20px;
	margin-top: 33px;
	text-align: center;
}

.article-columns-logo-left,
.article-columns-logo-right {
	position: absolute;
}

.article-columns-logo-left {
	bottom: -50px;
}

.article-columns-logo-right {
	top: 290px;
	right: 0px;
}

.article-columns-center-fix {
	width: inherit;
	margin: auto;
	padding-left: 10px;
}

.article-column-one h1,
.article-column-two h1,
.article-column-three h1 {
	font-size: 3.5em;
}

.article-columns-border-top,
.article-columns-border-bottom {
	width: 400px;
	margin: auto;
}

.article-columns-border-top {
	border-top: 5px #3f3f3f solid;
}

.article-columns-border-bottom {
	border-bottom: 5px #3f3f3f solid;
	margin-bottom: 40px;
}

.ad-banners {
	position: relative;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ad-banners-frame {
	width: 95%;
	box-shadow: 0px 0px 20px #777;
	margin: auto;
	border-radius: 5px;
}

.ad-banners img {
	max-width: 100%;
	display: block;
	border-radius: 5px;
}

.arrow-down-clearfix {
	position: absolute;
	width: 100%;
	z-index: 100;
}

.arrow-down {
	margin: auto;
	width: 60px;
}

footer {
	position: relative;
	width: 100%;
	height: 100px;
	background: #222;
	color: #FFFFFF;
}

.copyright-year {
	position: relative;
	margin: auto;
	width: 480px;
	text-align: center;
}

@media screen and (min-width: 349px) {
	.navigation-mobile-menu-closed li:first-of-type {
		display: none;
	}
}

@media screen and (max-width: 350px) {
	#mobile-onlinestore-button {
		display: none;
	}
	
	.navigation-mobile-menu-closed li:first-of-type {
		background: -webkit-linear-gradient(top, #007FF2, #034EA1);
		background: -o-linear-gradient(top, #007FF2, #034EA1);
		background: -moz-linear-gradient(top, #007FF2, #034EA1);
		background: linear-gradient(top, #007FF2, #034EA1);
		color: #FFFFFF;
	}
	
	.navigation-mobile-menu-closed li:first-of-type:hover {
		background: #034EA1;
		color: #FFFFFF;
	}
}

@media screen and (max-width: 570px) {
	
	.navigation-mobile-menu-closed li:last-child {
		padding-bottom: 13px;
		border: none;
		border-radius: 0 0 5px 5px;
	}

	
	
	
	
	.navigation-mobile-menu-closed li {
		font-size: 1.1em;
		padding: 10px 0 5px 0;
	}
}

@media screen and (max-width: 650px) {
	header {
		height: 55px;
		width: 100%;
		background: rgba(0,0,0,0.0);
	}
	
	.navigation-mobile-menu-closed {
		top: 55px;
	}
	
	.logo {
		display: none;
	}
	
	.logo-mobile {
		display: block;
		position: absolute;
		top: 10px;
		left: 10px;
	}
	
	.logo-mobile img {
		width: 50px;
	}
	
	.navigation {
		display: none;
	}

	.navigation-mobile {
		position: absolute;
		top: -5px;
		right: -5px;
	}

	.navigation-online-store {
		
		font-size: 0.5em;
	}
	
	.navigation-mobile-menu {
		padding: 15px 15px 11px 15px;
		font-size: 0.5em;
	}
	
	.navigation-mobile-menu img {
		width: 15px;
	}
		
	.social-media-icons {
		position: fixed;
		bottom: 0px;
		margin-left: 50%;
		left: -97px;
		width: 194px;
		height: 43px;
		background: rgba(0,0,0,0.3);
		border-radius: 5px 5px 0 0;
		padding-top: 3px;
		z-index: 1000;
	}

	.social-media-icons img {
		margin-left: 4px;
		margin-top: 0px;
		width: 40px;
	}

}

@media screen and (min-width: 651px) {
	.navigation {
		display: none;
	}
	
	.navigation-online-store {
		font-size: 0.75em;
	}
	
	.navigation-mobile {
		position: absolute;
		top: 25px;
		right: 0px;
	}
	
	.navigation-mobile-menu {
		padding: 15px 15px 11px 15px;
		font-size: 0.75em;
	}
	
	.navigation-mobile-menu img {
		width: 20px;
	}
	
	.social-media-icons {
		position: fixed;
		top: 200px;
		right: 0px;
		width: 76px;
		height: 286px;
		background: rgba(0,0,0,0.3);
		border-radius: 5px 0 0 5px;
		padding-top: 3px;
		z-index: 1000;
		line-height: 1.3em;
	}

	.social-media-icons img {
		margin-left: 8px;
		margin-top: 5px;
	}

}

@media screen and (max-width: 778px) {
		
	.banner-button {
		position: absolute;
		z-index: 1000;
	}
	
	.article-column-one h1,
	.article-column-two h1,
	.article-column-three h1 {
		font-size: 6.8vw;
	}
	
	.article-columns-logo-left,
	.article-columns-logo-right {
		display: none;
	}
	
	.article-columns-border-top,
	.article-columns-border-bottom {
		width: 65vw;
	}

	.article-columns-border-top {
		border-top: 3px #3f3f3f solid;
	}

	.article-columns-border-bottom {
		border-bottom: 3px #3f3f3f solid;
		margin-bottom: 10px;
	}
	
	.article-columns-content p {
		font-size: 0.75em;
	}

}


@media screen and (max-width: 1179px) {
	
	.article-column-one {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

@media screen and (min-width: 1180px) {
	
	.navigation-mobile {
		display: none;
	}
	
	.navigation {
		position: absolute;
		display: inherit;
		top: 28px;
		right: 30px;
	}
	
	.navigation li {
		display: inline-block;
		font-size: 20px;
		padding: 15px;
	}
	
	.navigation li:hover {
		border-bottom: 4px solid #034EA1;
	}
	
	.navigation li:last-child {
		border-bottom: 0px;
		padding: 0px 5px 5px 5px;
	}
	
	.navigation-online-store {
		font-size: 20px;
	}

	.banner-button {
		
/* 		font-size: 1.5em; */
	}
	
	.article-columns {
		top: -6px;
		padding-bottom: 20px;
	}
	
	.newest-article>h1 {
		font-size: 3.996em;
	}
	
	.article-columns-content p {
		font-size: 1em;
	}
	
	.article-columns-logo-left {
		bottom: 0px;
		left: 0px;
	}

	.article-columns-logo-right {
		top: 290px;
		right: 60px;
	}
	
	.article-column-one h1,
	.article-column-two h1,
	.article-column-three h1 {
		font-size: 2em;
	}

	.article-column-one,
	.article-column-two {
		height: 380px;
		width: 48%;
		display: inline-table;
		text-align: left;
	}

	.article-column-one {
		margin-right: 20px;
	}
	
	.article-column-two {
		margin-left: 20px;
	}	

}





























